		<div id="link-box">
			<a href="#" id="play-pause">pause</a> - 
			<a href="#" target="_blank">about</a> -
			<a href="http://github.com/qzaidi/husain.in" target="_blank">fork me</a>
		</div>
		<div id="quote-box">
			<div id="effect-wrapper">
				<div id="quote">
					<div style="font-size: 60px; padding-top: 50px; padding-left: 100px;">
					<span style="color: #A44;">CONSUME LESS</span><br/>
					CREATE MORE
					</div>
				</div>
				<div id="sayer"></div>
			</div>
		</div>

