<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Husain.in - we will not forget </title>
    <meta name="author" content="Qasim Zaidi">
    <meta name="description" content="A tribute to Husain, the Grandson of Apostle of Allah, who stood up against tyranny, opression and terrorism being committed in the name of Islam 1400 years ago, and in doing so, continues to inspire the ideas of freedom, justice and liberty everywhere.">
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
		<script type="text/javascript" src="/javascripts/clcm.min.js"></script>
		<link rel="stylesheet" href="/stylesheets/style.min.css" media="screen" />
	</head>
	<body>
   <%- partial('share.ejs') %>

   <%- partial('links.ejs') %>

   
  <%- body %>

	<script type="text/javascript">$( CLCM.init );</script>

  <%- partial('footer.ejs') %>
	</body>
</html>

